@model IEnumerable<ClinicApp.Models.CaseRecordModel>

@{
    ViewBag.Title = "Истории болезней";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <ul class="nav nav-tabs" style="margin: 50px;">
        <li>@Html.ActionLink("Участки", "Index", "AreasHistory")</li>
        <li class="active">@Html.ActionLink("Истории болезней", "Index", "RecordsHistory")</li>
        <li>@Html.ActionLink("Диагнозы", "Index", "DiagnosisHistory")</li>
        <li>@Html.ActionLink("Врачи", "Index", "DoctorHistory")</li>
        <li>@Html.ActionLink("Пациенты", "Index", "PatientsHistory")</li>
        <li>@Html.ActionLink("Приёмы", "Index", "ReceptionsHistory")</li>
        <li>@Html.ActionLink("Специализации", "Index", "SpecialitiesHistory")</li>
        <li>@Html.ActionLink("Улицы", "Index", "StreetsHistory")</li>
    </ul>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Id пациента
            </th>
            <th>
                Диагноз
            </th>
            <th>
                Лечение
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Record.Id
                </td>
                <td>
                    @item.Record.Patient
                </td>
                <td>
                    @item.Diagnosis.CodeDescription
                </td>
                <td>
                    @item.Record.Therapy
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="margin: 50px">
    <div class="text-center">
        @Html.ActionLink("<< Отмена", "Undone", "RecordsHistory", new { time = ViewBag.Time, step = ViewBag.Step }, new { @style = "margin: 0 5px" })
        @Html.ActionLink("Повтор >>", "Redone", "RecordsHistory", new { time = ViewBag.Time, step = ViewBag.Step }, new { @style = "margin: 0 5px" })
    </div>
</div>