
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" style="margin: 50px;">
    <li class="active">@Html.ActionLink("Резервное копирование", "Index", "Admin")</li>
    <li>@Html.ActionLink("Участки", "Index", "AreasHistory")</li>
    <li>@Html.ActionLink("Истории болезней", "Index", "RecordsHistory")</li>
    <li>@Html.ActionLink("Диагнозы", "Index", "DiagnosisHistory")</li>
    <li>@Html.ActionLink("Врачи", "Index", "DoctorHistory")</li>
    <li>@Html.ActionLink("Пациенты", "Index", "PatientsHistory")</li>
    <li>@Html.ActionLink("Приёмы", "Index", "ReceptionsHistory")</li>
    <li>@Html.ActionLink("Спицеализации", "Index", "SpecialitiesHistory")</li>
    <li>@Html.ActionLink("Улицы", "Index", "StreetsHistory")</li>
</ul>
