@model IEnumerable<ClinicApp.Models.PatientModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <ul class="nav nav-tabs" style="margin-top: 50px;">
        <li class="active">@Html.ActionLink("Пациенты", "Index", "Receptionist")</li>
        <li>@Html.ActionLink("Участки", "Areas", "Receptionist")</li>
    </ul>

<table class="table" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Адрес
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Surname @item.Name @item.Patronymic
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @Html.ActionLink("Записать на приём", "AddReceptionSpecialities", "Receptionist", new { patientId = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
