
@{
    ViewBag.Title = "StreetsByArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" style="margin-top: 50px;">
    <li>@Html.ActionLink("Пациенты", "Index", "Receptionist")</li>
    <li class="active">@Html.ActionLink("Участки", "Areas", "Receptionist")</li>
</ul>

<p style="margin-top: 50px;">
    <h4>@TempData["AreaName"]</h4>
</p>

<table class="table" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="margin-top: 30px;">
    @Html.ActionLink("Назад", "Areas", "Receptionist")
</div>